//  news-letter section scss

.news-letter {
  padding-bottom: 150px;
  @include media-breakpoint-down(md) {
    padding-bottom: 45px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 32px;
  }

  .content {
    padding: 72px 90px 72px 55px;
    background: $fill-black-faded;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 30px;

    @include media-breakpoint-down(xl) {
      padding: 48px 32px 56px 36px;
    }

    @include media-breakpoint-down(md) {
      display: block;
      padding: 34px 20px 39px 20px;
    }

    .description {
      width: 100%;
      max-width: 723px;
      @include media-breakpoint-down(xl) {
        max-width: 498px;
      }

      @include media-breakpoint-down(lg) {
        max-width: 399px;
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }

      h2 {
        font-family: $font-family-Oswald;
        font-size: 70px;
        font-weight: 600;
        line-height: 73px;
        margin-bottom: 19px;
        color: $fill-yellow;

        @include media-breakpoint-down(xl) {
          font-size: 42px;
          line-height: 69px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 35px;
          line-height: 54px;
        }
      }

      p {
        @include media-breakpoint-down(md) {
          text-align: center;
        }
      }
    }

    .contact-btn {
      width: 100%;
      max-width: 170px;
      @include media-breakpoint-down(md) {
        text-align: -webkit-center;
        max-width: 100%;
      }

      .bg-fill-btn {
        max-width: 159px;
      }
    }
  }
}
