//  news-letter section scss

.news-letter {
  padding-bottom: 150px;
  @include media-breakpoint-down(md) {
    padding-bottom: 45px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 32px;
  }

  .content {
    padding: 72px 90px 72px 55px;
    background: $fill-black-faded;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 30px;

    @include media-breakpoint-down(xl) {
      padding: 48px 32px 56px 36px;
    }

    @include media-breakpoint-down(md) {
      display: block;
      padding: 34px 20px 39px 20px;
    }

    .contact-description {
      width: 100%;
      max-width: 723px;
      @include media-breakpoint-down(xl) {
        max-width: 498px;
      }

      @include media-breakpoint-down(lg) {
        max-width: 399px;
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }

      h2 {
        @include h2;
        @include font-format(70px, 73px);
        margin-bottom: 19px;
        color: $fill-yellow;
        @include media-breakpoint-down(xl) {
          @include font-format(42px, 69px);
        }
        @include media-breakpoint-down(sm) {
          @include font-format(35px, 54px);
        }
      }

      .description {
        p {
          @include media-breakpoint-down(md) {
            text-align: center;
          }
        }
      }
    }
    .contact-cta {
      width: 100%;
      max-width: 170px;
      @include media-breakpoint-down(md) {
        text-align: -webkit-center;
        max-width: 100%;
      }
      .cta-btn {
        @include site-btn($fill-yellow, 159px, $fill-grey-dark);
      }
    }
  }
}
