//  service section scss
.services-section {
  background-image: url(../../images/Illustrations.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  @include media-breakpoint-down(md) {
    padding-bottom: 45px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 32px;
  }

  .sec-head {
    width: 100%;
    max-width: 328px;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
      max-width: 516px;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  }

  .card {
    padding: 50px 40px 40px 62px;
    margin-bottom: 34px;
    min-height: 340px;

    @include media-breakpoint-down(xl) {
      padding: 42px 16px 31px 36px;
    }
    @include media-breakpoint-down(md) {
      min-height: auto;
    }

    .media {
      width: 100%;
      max-width: 43px;
      margin-bottom: 27px;
    }

    h3 {
      margin-bottom: 12px;
    }

    .description {
      p {
        @include media-breakpoint-down(sm) {
          margin: 6px 0;
        }
      }
    }
  }
}
