// section-quality section scss
.section-quality {
  padding-bottom: 150px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    padding-bottom: 45px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 32px;
  }

  .sec-head {
    width: 100%;
    max-width: 431px;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .media {
    width: 100%;
    max-width: 1166px;
    margin: 0 auto;
    margin-top: 55px;

    @include media-breakpoint-down(lg) {
      margin-top: 0px;
    }

  .map-svg{
  width: 100%;
  max-width: 1166px;

  svg{
    width: 100%;
    height: auto;
  }

    @keyframes draw {
      from {
        stroke-dasharray: 0, 1000;
        fill-opacity: 0, 1000;
         
      }
      to {
        stroke-dasharray: 1000, 0;
        fill-opacity: 1000, 0;
      
      }
    }

    svg path {
      stroke: #363636;
      stroke-width: 2;
      fill: $brand-primary;
      fill-opacity: 0.9;
      animation: draw 10s linear infinite;
    }
  }
  }
}
