// why-us section scss
.why-us-section {
  background-image: url(../../images/Illustrations.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
  padding-top: 140px;

  @include media-breakpoint-down(md) {
    margin-bottom: 45px;
    padding-top: 90px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
    padding-top: 40px;
  }

  .sec-head {
    width: 100%;
    max-width: 196px;
    margin-bottom: 115px;
    @include media-breakpoint-down(md) {
      max-width: 390px;
      margin: 0 auto;
      margin-bottom: 45px;
    }
  }

  .inner {
    padding: 96px 90px 92px 92px;
    background: $footer-bg;
    @include media-breakpoint-down(lg) {
      padding: 70px 44px 6px 44px;
    }
    @include media-breakpoint-down(md) {
      padding: 46px 28px 6px 28px;
      text-align: center;
    }

    .featured-card{
      width: 100%;
      max-width: 298px;
      margin-bottom: 90px;
      @include media-breakpoint-down(md) {
        max-width: 406px;
        margin: 0 auto;
        margin-bottom: 65px;
      }

      .media {
        width: 100%;
        max-width: 53px;
        margin-bottom: 16px;

        @include media-breakpoint-down(md) {
          margin: 0 auto;
          margin-bottom: 13px;
        }
      }
      h3 {
        margin-bottom: 16px;
      }
    }
  }
}
