// communication section scss
.communication-section {
  padding-bottom: 150px;
  @include media-breakpoint-down(md) {
    padding-bottom: 45px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 32px;
  }

  .inner {
    padding: 7px 10px 7px 8px;

    @include media-breakpoint-down(lg) {
      padding: 7px 40px 22px 16px;
    }
    @include media-breakpoint-down(md) {
      padding: 7px 12px 22px 12px;
      text-align: center;
    }

    .media {
      width: 100%;
      max-width: 503px;

      img {
        border-radius: 30px 0 0 30px;
      }
    }

    .communication-content {
      width: 100%;
      max-width: 709px;
      padding-top: 30px;

      h3 {
        margin-bottom: 18px;
      }
      .description {
        p {
          margin-bottom: 75px;

          @include media-breakpoint-down(lg) {
            margin-bottom: 41px;
          }
        }
      }

      .communication-cta-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin-bottom: 0;
        }

        .communication-cta-btn {
          @include site-btn(yellow, 147px, $fill-grey-dark);
        }
      }
    }
  }
}
