// latest-blogs section scss
.section-post-listing {
  padding-bottom: 90px;
  @include media-breakpoint-down(md) {
    padding-bottom: 55px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 46px;
  }

  .sec-head {
    width: 100%;
    max-width: 289px;

    @include media-breakpoint-down(md) {
      max-width: 516px;
      margin: 0 auto;
    }

    h2 {
      margin-bottom: 62px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 34px;
        margin-top: 17px;
      }
    }
  }

  // its general card styling specific for this section
  .card {
    padding: 10px 11px 8px 11px;
    width: 100%;
    max-width: 420px;
    border: 3px solid #2c2a29;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }

  .post-card {
    @extend .card;

    .media {
      width: 100%;
      max-width: 387px;
      margin: 0 auto;
      margin-bottom: 18px;
      img {
        border-radius: 30px 30px 5px 5px;
      }
    }

    .meta-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;

      h3 {
        font-size: 18px;
        font-weight: $fw-semi-bold;
        line-height: 16px;
      }

      h6 {
        font-family: $font-family-base;
        font-size: 14px;
        font-weight: $fw-regular;
        line-height: 20.86px;
        color: $brand-secondary;
      }
    }
    .description {
      p {
        margin-bottom: 19px;
      }
    }

    .list-cta-btn {
      max-width: 100%;

      .post-cta {
        @include site-btn(yellow, 100%, $fill-grey-dark);
      }
    }
  }

  .list-more-cta-btn {
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    .view-more-cta {
      @include site-btn(transparent, 200px, $brand-secondary);
      .btn-svg {
        margin-left: 58px;
      }
    }
  }
}
