// home-hero scss
.home-hero {
  min-height: 100vh;
  padding: 120px 145px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(xxl) {
    padding: 120px 30px;
  }

  @include media-breakpoint-down(md) {
    padding: 37px 0px;
  }

  .hero-text {
    width: 100%;
    max-width: 722px;
    padding-top: 60px;

    .hero-description {
      p {
        @include paragraph;
        @include font-format(18px, 31px);
        margin: 39px 0;
        @include media-breakpoint-down(md) {
          text-align: center;
        }
      }
    }

    .hero-cta-btns {
      width: 100%;
      max-width: 427px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        margin: 0 auto;
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      .hero-cta-btn {
        @include site-btn($fill-yellow, 200px, $fill-grey-dark);
        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }
      }
      .btn-svg {
        margin-left: 32px;
      }
    }
  }

  .hero-form {
    width: 100%;
    max-width: 384px;
    margin-left: auto;

    @include media-breakpoint-down(lg) {
      margin-left: unset;
      margin-top: 20px;
      max-width: 706px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      margin-top: 20px;
    }

    .card {
      padding: 24px 32px 24px 32px;
      background: transparent;

      h3 {
        @include h3;
        @include font-format(22px, 33px);
      }

      .hero-news-letter-form {
        label {
          color: $fill-white;
          font-family: $font-family-base;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 7px;
        }
        input,
        textarea {
          padding: 8px 12px;
          width: 100%;
          border-radius: 15px;
          color: $fill-white;
          margin-bottom: 14px;
          border: 1px solid $border-filll;
          opacity: 0.5;
          background: linear-gradient(
            109deg,
            rgba(255, 255, 255, 0.15) 1.57%,
            rgba(255, 255, 255, 0.06) 100%
          );
          backdrop-filter: blur(30px);

          &:focus {
            outline: none;
          }
        }

        input[type="submit"] {
          background: $fill-yellow;
          color: $fill-grey-dark;
          height: 48px;
          margin-top: 10px;
          opacity: 1;
          font-family: $font-family-base;
          font-size: 16px;
          font-weight: $fw-medium;
          line-height: 24px;
          color: $fill-black-faded;

          &:hover {
            background: $fill-black-faded;
            color: $fill-yellow;
            border: 1px solid $fill-yellow;
          }
        }
      }
    }
  }
}
