// home team-section scss
.leadership-section {
  background: $bg-fill;
  padding-bottom: 150px;

  @include media-breakpoint-down(md) {
    padding-bottom: 45px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 32px;
  }

  .sec-head {
    margin-bottom: 106px;

    @include media-breakpoint-down(md) {
      margin-bottom: 54px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 32px;
    }
  }

  .member {
    width: 100%;
    max-width: 287px;

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .media {
      width: 100%;
      max-width: 287px;
    }

    .titile {
      text-align: center;
      background: $fill-black-faded;
      padding: 15px 20px;

      h3 {
        color: $brand-primary;
        @include media-breakpoint-down(xl) {
          @include font-format(17px, 20px);
        }
        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}
