// home news-letter section scss
.section-news-letter {
  background: $bg-fill;
  padding-bottom: 150px;
  @include media-breakpoint-down(md) {
    padding-bottom: 45px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 32px;
  }

  .card {
    padding: 63px 37px 125px 37px;
    background: $linear-bg;

    @include media-breakpoint-down(md) {
      padding: 30px 25px 10px 25px;
    }

    .news-letter-header {
      h2 {
        margin-bottom: 32px;
      }
    }

    .description {
      p {
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }
    }

    .news-letter-form {
      width: 100%;
      max-width: 693px;
      margin: 0 auto;

      input {
        width: 100%;
        height: 60px;
        padding: 15px 0px 15px 24px;
        border-radius: 16px;
        background: #f9f6e014;
        margin-bottom: 24px;
        border: none;
        color: $brand-secondary;
        &:focus {
          outline: none;
        }
      }

      .charter-form-btn {
        width: 100%;
        max-width: 200px;

        input[type="submit"] {
          border-radius: 30px;
          background: $brand-primary;
          padding: 4px 50px;
          font-family: $font-family-base;
          font-size: 16px;
          font-weight: $fw-semi-bold;
          line-height: 40px;
          color: $fill-black-faded;
          margin-top: 35px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background: $fill-black-faded;
            color: $brand-primary;
            border: 1px solid $brand-primary;
          }
        }
      }

      .news-letter-pills {
        margin: 24px 0 0;

        .news-letter-pill {
          padding-top: 15px !important;
          padding: 3px 29px;
          background: #f9f6e014;
          margin-bottom: 5px;
          display: inline-block;
          color: $fill-grey-v2;
          box-shadow: none;
          @include paragraph;
          @include font-format(15px, 11px);
          font-weight: $fw-medium;
          margin-top: 12px;
          @include transition-standard;

          &:hover {
            box-shadow: -2px -6px 27px -18px rgba(122, 104, 104, 0.79);
            -webkit-box-shadow: -2px -6px 27px -18px rgba(122, 104, 104, 0.79);
            -moz-box-shadow: -2px -6px 27px -18px rgba(122, 104, 104, 0.79);
          }
        }
      }
    }
  }
}
