// home -staff-augmentation-section scss

.staff-augmentation-section {
  background: $bg-fill;
  padding-bottom: 150px;
  overflow: hidden;
  padding-top: 50px;

  .sec-head {
    width: 100%;
    max-width: 688px;

    h2 {
      margin-bottom: 90px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 70px;
      }
    }
  }

  .graph {
    .gsap-scroll-horizontal {
      .progress-bar-line {
        overflow: hidden;
        padding: 5rem;
        display: grid;
        align-content: center;
        position: relative;
        width: 100%;
        transform-origin: left center;
        @include media-breakpoint-down(md) {
          padding: 0rem 5rem;
        }

        .progress-bar {
          overflow: unset;
        }

        .progress-circle {
          position: absolute;
          top: 50%;
          left: 0;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          background: $brand-primary;
          transform: translateY( -50%);
          z-index: 2;
          border: 15px solid #5d5e1e;
          text-align: center;

          @include media-breakpoint-down(sm) {
            width: 35px;
            height: 35px;
            border: 10px solid #5d5e1e;
          }
        }

        .slider {
          display: grid;
          column-gap: 5rem;
          grid-auto-flow: column;
          width: max-content;

          .panel {
            width: 100%;
            min-width: 100vw;
            margin-top: 50px;
            // min-height: 30vh;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
              rgba(0, 0, 0, 0.22) 0px 15px 12px;

            .wrapper {
              width: 100%;
              max-width: 480px;
              margin-left: 22%;

              @include media-breakpoint-down(4xl) {
                margin-left: 15%;
              }
              @include media-breakpoint-down(3xl) {
                margin-left: 8%;
              }
              @include media-breakpoint-down(lg) {
                margin-left: 16%;
              }
              @include media-breakpoint-down(sm) {
                margin-left: 14%;
              }

              .service-count {
                width: 100%;
                max-width: 115px;
                h3 {
                  font-family: $font-family-base;
                  font-size: 72px;
                  font-weight: $fw-extra-bold;
                  line-height: 100.8px;
                  letter-spacing: 0.11em;
                  color: $brand-primary;
                  -webkit-text-stroke: 2px $brand-primary;
                  -webkit-text-fill-color: transparent;

                  @include media-breakpoint-down(md) {
                    font-size: 57px;
                    line-height: 79.8px;
                  }

                  @include media-breakpoint-down(sm) {
                    font-size: 50px;
                    line-height: 74.8px;
                  }
                }
              }

              h4 {
                font-family: $font-family-base;
                font-size: 35px;
                font-weight: $fw-semi-bold;
                line-height: 45px;
                margin-bottom: 10px;

                @include media-breakpoint-down(md) {
                  font-size: 28px;
                  line-height: 36px;
                  margin-bottom: 7px;
                }

                @include media-breakpoint-down(sm) {
                  font-size: 23px;
                  line-height: 31px;
                  margin-bottom: 7px;
                }
              }
              .description {
                width: 100%;
                max-width: 458px;
                @include media-breakpoint-down(md) {
                  max-width: 348px;

                }
                @include media-breakpoint-down(sm) {
                  max-width: 238px;
                }

                p {
                  @include font-format(18px, 30px);
                  @include media-breakpoint-down(md) {
                    @include font-format(17px, 27px);
                  }
                  @include media-breakpoint-down(sm) {
                    @include font-format(15px, 24px);
                  }
                }
              }
            }
          }
        }

        .progress {
          &-bar {
            margin: 2rem 0;
            width: 100%;
            max-width: 90rem;
            height: 0.38rem;
            background-color: #493d16;
            position: relative;
            left: 226px;
            
            @include media-breakpoint-down(3xl) {
              max-width: 69rem;
              left: 38px;
            }
            @include media-breakpoint-down(xxl) {
              max-width: 68rem;
              left: 4px;
            }
            @include media-breakpoint-down(xl) {
              max-width: 49rem;
              left: -12px;
            }
            @include media-breakpoint-down(lg) {
              max-width: 37rem;
              left: 5px;
            }
            @include media-breakpoint-down(sm) {
              max-width: 28rem;
              left: -12px;
            }
            @include media-breakpoint-down(xs) {
              max-width: 16rem;
              left: -49px;
            }
          }
          &-line {
            position: absolute;
            left: 0;
            height: 100%;
            background-color: $brand-primary;
            width: 100%;
          }
        }
      }
    }
  }
}
