// all diligent element optimize scss
img {
  width: 100%;
}

h1 {
  color: $fill-white;
  font-family: $font-family-Oswald;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 97px;
  letter-spacing: -1.6px;

  @include media-breakpoint-down(md) {
   text-align: center;
  }

  @include media-breakpoint-down(sm) {
    font-size: 43px;
    line-height: 62px;
   }
}

h2 {
  color: $fill-white;
  font-family: $font-family-Oswald;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: 69px;
  text-transform: uppercase;

    @include media-breakpoint-down(md){
      text-align: center;
  }

  @include media-breakpoint-down(sm) {
    font-size: 42px;
    line-height: 54px;
  }
}

h3 {
  color: $fill-white;
  font-family: $font-family-base;
  font-size: 22px;
  font-style: normal;
  font-weight: $fw-medium;
  line-height: 24px;

  @include media-breakpoint-down(sm){
    font-size: 20px;
    line-height: 20px;
  }
}

p {
  color: $fill-white-v1;
  font-family: $font-family-base;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 27px;
    // margin: 35px 0;
   }
}

.bg-fill-btn {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  background: $fill-yellow;
  padding: 8px 12px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  max-width: 122px;
  color: $fill-grey-dark;
  font-family: $font-family-base;
  font-size: 16px;
  font-style: normal;
  font-weight: $fw-semi-bold;
  line-height: 40px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $fill-black-faded;
    color: $fill-white;
    border: 1px solid #6d6d6e;
  }
}

.outline-btn {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  background: transparent;
  padding: 8px 7px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  max-width: 200px;
  color: $fill-white;
  font-family: $font-family-base;
  font-size: 16px;
  font-style: normal;
  font-weight: $fw-semi-bold;
  line-height: 40px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $fill-yellow;
    color: $fill-grey-dark;
    border: 1px solid #6d6d6e;

    path{
      fill: $fill-black-faded;
    }
  }
}

.yellow-fill {
  color: $fill-yellow;
}

.blocked {
  display: block;

  @include media-breakpoint-down(md) {
    display: inline-block;
   }
}

.mark{
  display: inline-block;
  width: 100%;
  max-width: 21px;
  height: 100%;
  background: #151515;
}

.card {
  background: #1e1e1e;
  border-color: #2c2a29;
  border-radius: 30px;
  padding: 41px 67px 30px 67px;
  position: relative;
  overflow: hidden;


  .animatedd:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #171618, $border-filll);
    animation: animate1 3s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }


  .animatedd:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, #171618, $border-filll);
    animation: animate2 3s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate2 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }


  .animatedd:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #171618, $border-filll);
    animation: animate3 3s linear infinite;
  }
  
  @keyframes animate3 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  .animatedd:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, #171618, $border-filll);
    animation: animate4 3s linear infinite;
    animation-delay: 1s;
  }
  
  @keyframes animate4 {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }


  @include media-breakpoint-down(sm) {
    padding: 34px 28px 21px 32px;
  }



}
