* {
  box-sizing: border-box;
}

body {
  @include global-font;
  background: $bg-fill;
}
img {
  width: 100%;
}
a {
  @include transition-standard;
  color: $body-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $brand-primary;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: $fw-bold;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4,
h5 {
  @include h4;
}

.btn {
  @include btn;
}

.btn-grey {
  @include btn(grey);
}

.icon-btn {
  @include btn(icon);
}

.cta-link {
  color: $link-color;
  font-weight: $fw-semi-bold;

  &:hover {
    color: $link-hover;
  }
}

// swiper nav__btn starts
.swiper__nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.nav__btn {
  position: static;
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $brand-primary;
  border-radius: 50%;

  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
  }

  @include media-breakpoint-up(lg) {
    width: 45px;
    height: 45px;
  }

  &:after {
    font-size: 20px !important;
    font: var(--fa-font-solid);
    color: #fff;

    @include media-breakpoint-up(md) {
      font-size: 30px !important;
    }
  }

  &.swiper-button-prev {
    &:after {
      content: "\f104";
    }
  }

  &.swiper-button-next {
    &:after {
      content: "\f105";
    }
  }
}
// swiper nav__btn ends

// diligent site global elements
// all diligent element optimize scss

h1 {
  @include h1;
  letter-spacing: -1.6px;
  @include media-breakpoint-down(xl) {
    @include font-format(58px, 73px);
  }
  @include media-breakpoint-down(lg) {
    @include font-format(51px, 65px);
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    @include font-format(42px, 61px);
  }
  @include media-breakpoint-down(md) {
    text-align: center;
    @include font-format(38px, 58px);
  }
}

h2 {
  text-transform: uppercase;
  @include font-format(58px, 69px);
  @include media-breakpoint-down(xl) {
    @include font-format(50px, 68px);
  }
  @include media-breakpoint-down(lg) {
    @include font-format(42px, 58px);
  }
  @include media-breakpoint-down(md) {
    @include font-format(36px, 54px);
  } @include media-breakpoint-down(md) {
    @include font-format(36px, 54px);
  }
  @include media-breakpoint-down(sm) {
    @include font-format(32px, 51px);
  }
}

h3 {
  @include h3;
}
h4 {
  @include h4;
  @include font-format(21px, 30px);
}

p {
  @include p;
}

// .bg-fill-btn {
//   @include site-btn(yellow, 200px, $fill-grey-dark);
// }

.hero-cta-icon {
  @include site-btn(transparent, 200px, $brand-secondary);
}

// .yellow-fill {
//   color: $brand-primary;
// }


.colored-fill {
  color: $brand-primary;
}


.mark {
  display: inline-block;
  width: 100%;
  max-width: 24px;
  height: 100%;
  background: #151515;
}

.card {
  background: #1e1e1e;
  border-color: #2c2a29;
  border-radius: 30px;
  padding: 41px 67px 30px 67px;
  position: relative;
  overflow: hidden;

  .border-animation-card:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #171618, $border-filll);
    animation: animate1 3s linear infinite;
  }

  @keyframes animate1 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .border-animation-card:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, #171618, $border-filll);
    animation: animate2 3s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate2 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

  .border-animation-card:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #171618, $border-filll);
    animation: animate3 3s linear infinite;
  }

  @keyframes animate3 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .border-animation-card:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, #171618, $border-filll);
    animation: animate4 3s linear infinite;
    animation-delay: 1s;
  }

  @keyframes animate4 {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 34px 28px 21px 32px;
  }
}
