// font
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
$font-family-Oswald: "Oswald", sans-serif;

// Colors
$body-color: #4D4D4D;
$brand-primary: #FBFF29;
$brand-secondary: #FFFFFF;
$btn-hover: darken($brand-primary, 10);
$link-color: $brand-primary;
$link-hover: darken($brand-primary, 10);
$fill-yellow: #FBFF29;
$fill-grey-dark: #222426;
$fill-grey-dark-v2: #30303B;
$fill-grey-light: #D3D7E3;
$fill-grey-light-v2: #D9D9D9;
$fill-grey-v1: #566B89;
$fill-grey-v2: #A6A6A6;
$fill-purple: #3C3C62;
$fill-black-faded: #060508;
$fill-white-v1: #b9b9b9;
$fill-blue-v1: #566B89;
$fill-white: #FFFFFF;
$bg-fill: #191919;
$linear-bg: linear-gradient(131.09deg, rgba(5, 5, 5, 0.23) 4.12%, rgba(25, 25, 25, 0.23) 103.48%);
$footer-bg: #131213;
$field-fill: #282826;
$border-filll: #767676;
$light-brown-fill: #262515;
$fill-orange-light: #BB913F;


/* Font Weights for Google Fonts */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;