$breakpoints-up: (
  "xs": "min-width: 480px",
  "sm": "min-width: 576px",
  "md": "min-width: 768px",
  "lg": "min-width: 992px",
  "xl": "min-width: 1200px",
  "xxl": "min-width: 1400px",
);

@mixin media-breakpoint-up($user-value) {
  $my-map: map-get($breakpoints-up, $user-value);
  @if $my-map {
    @media (#{$my-map}) {
      @content;
    }
  } @else {
    @error "Opps, seems like the breakpoint is missing ";
  }
}


$breakpoints-down: (
  "xs": "max-width: 425.98px",
  "sm": "max-width: 575.98px",
  "md": "max-width: 767.98px",
  "lg": "max-width: 991.98px",
  "xl": "max-width: 1199.98px",
  "xxl": "max-width: 1399.98px",
  "3xl": "max-width: 1599.98px",
  "4xl": "max-width: 1799.98px",
);

@mixin media-breakpoint-down($user-value) {
  $my-map: map-get($breakpoints-down, $user-value);
  @if $my-map {
    @media (#{$my-map}) {
      @content;
    }
  } @else {
    @error "Opps, seems like the breakpoint is missing ";
  }
}

@mixin media-breakpoint-up-custom($custom_breakpoint) {
  @media only screen and (min-width: $custom_breakpoint) {
    @content;
  }
}

@mixin global-font {
  @include font-format(22px);
  font-family: $font-family-base;
  color: $brand-secondary;
  font-style: normal;
  font-weight: $fw-medium;
}

@mixin paragraph {
  @include font-format(16px);
  color:$brand-secondary;
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $fw-regular;
}

@mixin font-format($size, $lh: 1.5) {
  font-size: $size;
  line-height: $lh;
}

@mixin heading {
  font-family: $font-family-Oswald;
  font-weight: $fw-semi-bold;
  font-style: normal;
  color: $brand-secondary;
}

@mixin h1 {
  @include heading;
  @include font-format(65px, 97px);
  @include media-breakpoint-down(sm) {
    @include font-format(43px, 62px);
    font-size: 43px;
    line-height: 62px;
  }
}

@mixin h2 {
  @include heading;
  @include font-format(58px, 69px);
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    @include font-format(42px, 54px);
  }
}

@mixin h3 {
  @include global-font;
  @include font-format(22px, 24px);
  @include media-breakpoint-down(md) {
    @include font-format(20px, 20px);
  }
  @include media-breakpoint-down(sm) {
    @include font-format(18px, 20px);
  }
}

@mixin h4 {
  @include font-format(21px , 30px);
  font-family: $font-family-base;
  font-weight: $fw-semi-bold;
}

@mixin h5 {
  @include font-format(18px);
}

@mixin h6 {
  @include font-format(16px);
}

@mixin p {
  @include paragraph;
  @include font-format(16px, 26px);
  @include media-breakpoint-down(md) {
    @include font-format(15px, 20px);
  }
  @include media-breakpoint-down(sm) {
    @include font-format(14px, 20px);
  }
}

@mixin transition-standard {
  transition: all 0.4s ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin site-btn($user-bg, $user-max, $user-color) {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  background: $user-bg;
  padding: 8px 12px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 100%;
  max-width: $user-max;
  color: $user-color;
  font-family: $font-family-base;
  font-size: 16px;
  font-style: normal;
  font-weight: $fw-semi-bold;
  line-height: 40px;
  @include transition-standard;
  @include media-breakpoint-down(md) {
    @include font-format(14, 20px);
  }
  &:hover {
    background: $fill-black-faded;
    color: $brand-primary;
    border: 1px solid $brand-primary;
  }
}

@mixin btn($variation: "") {
  @include transition-standard;
  @include font-format(14px);
  min-height: 42px;
  font-family: $font-family-base;
  font-weight: $fw-semi-bold;
  color: #fff;
  text-transform: capitalize;
  background-color: $brand-primary;
  padding: 5px 20px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;

  @include media-breakpoint-up-custom(992px) {
    padding: 5px 30px;
    @include font-format(16px);
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: $btn-hover;
    outline: none;
    box-shadow: none;
  }
 
  @if $variation == inverted {
    background-color: transparent;
    color: $brand-primary;
    border: 2px solid $brand-primary;

    &:hover,
    &:focus {
      background-color: $btn-hover;
      border-color: $btn-hover;
      color: #fff;
    }
  }

  @if $variation == grey {
    background-color: $fill-grey-light;
    color: $brand-secondary;

    &:hover,
    &:focus {
      background-color: $brand-secondary;
      color: #fff;
    }
  }

  @if $variation == icon {
    padding-right: 32px;

    @include media-breakpoint-up-custom(992px) {
      padding-right: 45px;
    }

    &:after {
      @include transition-standard;
      content: "";
      width: 8px;
      height: 8px;
      border: 3px solid #fff;
      border-bottom: 0;
      border-left: 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      @include media-breakpoint-up-custom(992px) {
        right: 27px;
      }
    }

    &:hover {
      &:after {
        right: 10px;

        @include media-breakpoint-up-custom(992px) {
          right: 20px;
        }
      }
    }
  }
}

@mixin cover-overlay($color: "#000", $opacity: "0.5") {
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $opacity);
  }
}
